@import "tailwindcss";

:root {
  --background: #151E1B ;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Manrope';
  src: url('/Fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GeneralSansRegular';
  src: url('/public/Fonts/GeneralSans-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* --font-manrope: "Manrope", sans-serif;
    --font-generalsans: "GeneralSansRegular", sans-serif; */
    --background: #151E1B;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Manrope,GeneralSansRegular, sans-serif;
}
